class reddit_tokens:
	def __init__(self):
		self.user_agent= None
		self.client_id= None
		self.client_secret= None
		self.redirect_uri= None
		self.username= None
		self.password= None

discord_token = None
